  <h3 class="mat-title">Dados de Cobrança</h3>
  <mat-accordion>    
    <mat-expansion-panel >        
        <mat-expansion-panel-header>            
            <mat-panel-title>Cartão de Crédito</mat-panel-title>
        </mat-expansion-panel-header>       
        <app-cartao-credito></app-cartao-credito>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>            
            <mat-panel-title>Boleto</mat-panel-title>
        </mat-expansion-panel-header>
        <app-boleto></app-boleto>
    </mat-expansion-panel>   
  </mat-accordion>
