.mat-title {
  margin: 16px 0;
}

.mat-form-field {
  margin-bottom: 8px;
}

.form-action {
  margin-top: 24px;

  .next-btn {
    padding-right: 8px;
  }

  .prev-btn {
    padding-left: 8px;
  }
}

