.checkbox-container {
  min-width: 200px;
  min-height: 80px;
  margin: 4px;

  img {
    margin-left: 18px;
    margin-bottom: -8px;
    width: calc(100% - 20px);
  }
}

.form-action {
  margin-top: 24px;

  .next-btn {
    padding-right: 8px;
  }

  .prev-btn {
    padding-left: 8px;
  }
}

